@use "variables" as v;
@use "buttons" as buttons;

.fullscreen-popup {
    position: fixed;
    inset: 0%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: v.$color-2;
    z-index: 10;
}

#gender-ques-ctn {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.gender-answers {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#gender-hm {
    @include buttons.Button2Variation(40%, 12rem, 2rem, v.$color-4, v.$color-5, v.$text-color-1);
}
#gender-hd {
    @include buttons.Button2Variation(40%, 12rem, 2rem, v.$color-7, v.$color-8, v.$text-color-2);
}