$text-color-0: #ffffff;
$text-color-1: #f5cdf2;
$text-color-2: #daecfb;
$bg-color-0: #ffffff;
$color-1: #F38596;
$color-2: #EBBFC4;
$color-3: #C299C2;
$color-4: #A571A5;
$color-5: #8B4E82;
$color-6: #B6D3EB;
$color-7: #83bae6;
$color-8: #5e70ab;
$card-color-A: #4599e4;
$card-color-B: #c355e1;
$anim-dist: 40vw;