@use "SCSS/buttons";
@use "SCSS/cards";
@use "SCSS/loadingScreen";
@use "SCSS/popups";
@use "SCSS/heartBG";
@use "SCSS/variables" as v;

:root {
    font-size: 3vmin;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
}

body {
    text-align: center;
}

#score-disp-ctn {
    display: flex;
    flex-grow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    font-family: "oswald", sans-serif;
    h1 {
        margin: 0;
        font-size: 3rem;
        font-weight: 700;
        letter-spacing: -0.1rem;
    }
}
