:root {
  --var-color-1: #ffffff;
  --var-color-2: #8B4E82;
  --var-color-3: #C299C2;
  --var-text-color-1: #f5cdf2;
  --text-color-0: #4f3431;
  --text-color-1: #f0b4bc;
  --text-color-2: #daecfb;
  --bg-color-0: #fff5f4;
  --color-1: #F38596;
  --color-2: #EBBFC4;
  --color-3: #dabcde;
  --color-4: #c293c7;
  --color-5: #8B4E82;
  --color-6: #B6D3EB;
  --color-7: #83bae6;
  --color-8: #5e70ab;
  --card-color-A: #4599e4;
  --card-color-B: #c355e1;
  --anim-dist: 40vw;
}

/** ============================== Give Buttons =========================== */
#give-ctn,
#undo-ctn {
  margin: 1vh;
  padding: 1vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row nowrap;
}

#give-btn {
  position: relative;
  padding: 0 16px;
  border-radius: 2rem;
  border-width: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
  font-weight: 800;
  overflow: hidden;
  cursor: pointer;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  white-space: normal;
  background-color: var(--var-color-1);
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, var(--var-color-2) 0 -10px 0 inset;
  color: var(--var-text-color-1);
  font-size: 2rem;
  width: 50vh;
  height: 50vh;
}
#give-btn:focus {
  box-shadow: var(--var-color-2) 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, var(--var-color-2) 0 -3px 0 inset;
}
#give-btn:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, var(--var-color-2) 0 -10px 0 inset;
  transform: translateY(-2px);
}
#give-btn:active {
  box-shadow: var(--var-color-2) 0 3px 7px inset;
  transform: translateY(2px);
}

#undo-btn {
  width: 50vh;
  height: 10vh;
  padding: 0.5rem 0.7rem;
  display: inline-block;
  background-color: #737373;
  border: solid transparent;
  border-radius: 0.7rem;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #8d8d8d;
  font-family: oswald, sans-serif;
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  touch-action: none;
  transform: translateZ(0);
  transition: filter 0.2s;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  cursor: pointer;
}
#undo-btn:after {
  background-color: #d9d9d9;
  position: absolute;
  background-clip: padding-box;
  border: solid transparent;
  border-radius: 0.6rem;
  border-width: 0 0 3px;
  bottom: -3px;
  content: "";
  inset: 0;
  z-index: -1;
}
#undo-btn:main, #undo-btn:focus {
  -webkit-user-select: auto;
     -moz-user-select: auto;
      -ms-user-select: auto;
          user-select: auto;
}
#undo-btn:disabled {
  filter: brightness(0.8);
  -webkit-filter: brightness(0.8);
}
#undo-btn:enabled {
  filter: none;
}

#thinh-btn {
  width: 6vw;
  height: 6vw;
  padding: 0.5rem 0.7rem;
  display: inline-block;
  background-color: var(--color-5);
  border: solid transparent;
  border-radius: 0.7rem;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: white;
  font-family: oswald, sans-serif;
  font-size: 2vw;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  touch-action: none;
  transform: translateZ(0);
  transition: filter 0.2s;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  cursor: pointer;
}
#thinh-btn:after {
  background-color: var(--color-4);
  position: absolute;
  background-clip: padding-box;
  border: solid transparent;
  border-radius: 0.6rem;
  border-width: 0 0 3px;
  bottom: -3px;
  content: "";
  inset: 0;
  z-index: -1;
}
#thinh-btn:main, #thinh-btn:focus {
  -webkit-user-select: auto;
     -moz-user-select: auto;
      -ms-user-select: auto;
          user-select: auto;
}
#thinh-btn:disabled {
  filter: brightness(0.8);
  -webkit-filter: brightness(0.8);
}
#thinh-btn:enabled {
  filter: none;
}

/** ============================== Card Animation =========================== */
.card {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  padding: 0.4rem 0.6rem;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  pointer-events: none;
  opacity: 0;
  transform-origin: 50% 50%;
  /* shorthand 
  animation: give-card 1.5s linear 0s 1 normal none;
  */
}
.card h2 {
  font-size: 2rem;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  margin: 0;
}

#card-A {
  color: #EBBFC4;
  background-color: #8B4E82;
}

#card-B {
  color: #B6D3EB;
  background-color: #5e70ab;
}

@-webkit-keyframes anim-card-A {
  0% {
    transform: translateY(0) translateX(0) scale(0) rotate(260deg);
    filter: blur(10px);
    opacity: 0;
  }
  25% {
    transform: translateY(-70px) translateX(10vw) scale(1) rotate(340deg);
    filter: blur(0);
    opacity: 1;
  }
  40% {
    transform: translateY(-90px) translateX(16vw) rotate(355deg);
  }
  50% {
    transform: translateY(-100px) translateX(20vw) rotate(360deg);
  }
  60% {
    transform: translateY(-90px) translateX(24vw) scale(1) rotate(365deg);
    filter: blur(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-10px) translateX(40vw) scale(0) rotate(450deg);
    filter: blur(10px);
    opacity: 0;
  }
}

@keyframes anim-card-A {
  0% {
    transform: translateY(0) translateX(0) scale(0) rotate(260deg);
    filter: blur(10px);
    opacity: 0;
  }
  25% {
    transform: translateY(-70px) translateX(10vw) scale(1) rotate(340deg);
    filter: blur(0);
    opacity: 1;
  }
  40% {
    transform: translateY(-90px) translateX(16vw) rotate(355deg);
  }
  50% {
    transform: translateY(-100px) translateX(20vw) rotate(360deg);
  }
  60% {
    transform: translateY(-90px) translateX(24vw) scale(1) rotate(365deg);
    filter: blur(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-10px) translateX(40vw) scale(0) rotate(450deg);
    filter: blur(10px);
    opacity: 0;
  }
}
@-webkit-keyframes anim-card-B {
  0% {
    transform: translateY(0) translateX(0) scale(0) rotate(-260deg);
    filter: blur(10px);
    opacity: 0;
  }
  25% {
    transform: translateY(-70px) translateX(-10vw) scale(1) rotate(-340deg);
    filter: blur(0);
    opacity: 1;
  }
  40% {
    transform: translateY(-90px) translateX(-16vw) rotate(-355deg);
  }
  50% {
    transform: translateY(-100px) translateX(-20vw) rotate(-360deg);
  }
  60% {
    transform: translateY(-90px) translateX(-24vw) scale(1) rotate(-365deg);
    filter: blur(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-10px) translateX(-40vw) scale(0) rotate(-450deg);
    filter: blur(10px);
    opacity: 0;
  }
}
@keyframes anim-card-B {
  0% {
    transform: translateY(0) translateX(0) scale(0) rotate(-260deg);
    filter: blur(10px);
    opacity: 0;
  }
  25% {
    transform: translateY(-70px) translateX(-10vw) scale(1) rotate(-340deg);
    filter: blur(0);
    opacity: 1;
  }
  40% {
    transform: translateY(-90px) translateX(-16vw) rotate(-355deg);
  }
  50% {
    transform: translateY(-100px) translateX(-20vw) rotate(-360deg);
  }
  60% {
    transform: translateY(-90px) translateX(-24vw) scale(1) rotate(-365deg);
    filter: blur(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-10px) translateX(-40vw) scale(0) rotate(-450deg);
    filter: blur(10px);
    opacity: 0;
  }
}
/*
@keyframes anim-card-A {
    0% {
        transform: translateY(0) translateX(0) scale(0) rotate(260deg);
        transform-origin: 50% 50%;
        filter: blur(10px);
        opacity: 0;
    }
    25% {
        transform: translateY(-70px) translateX(calc(v.$anim-dist*0.25)) scale(1) rotate(340deg);
        transform-origin: 50% 50%;
        filter: blur(0);
        opacity: 1;
    }
    40% {
        transform: translateY(-90px) translateX(calc(v.$anim-dist*0.4)) rotate(355deg);
    }
    50% {
        transform: translateY(-100px) translateX(calc(v.$anim-dist*0.5)) rotate(360deg);
    }
    60% {
        transform: translateY(-90px) translateX(calc(v.$anim-dist*0.6)) scale(1) rotate(365deg);
        filter: blur(0);
        opacity: 1;
    }
    100% {
        transform: translateY(-10px) translateX(calc(v.$anim-dist*1)) scale(0) rotate(450deg);
        filter: blur(10px);
        opacity: 0;
    }
}

@keyframes anim-card-B {
    0% {
        transform: translateY(0) translateX(0) scale(0) rotate(-260deg);
        transform-origin: 50% 50%;
        filter: blur(10px);
        opacity: 0;
    }
    25% {
        transform: translateY(-70px) translateX(calc(v.$anim-dist * -0.25)) scale(1) rotate(-340deg);
        filter: blur(0);
        transform-origin: 50% 50%;
        opacity: 1;
    }
    40% {
        transform: translateY(-90px) translateX(calc(v.$anim-dist * -0.4)) rotate(-355deg);
    }
    50% {
        transform: translateY(-100px) translateX(calc(v.$anim-dist * -0.5)) rotate(-360deg);
    }
    60% {
        transform: translateY(-90px) translateX(calc(v.$anim-dist * -0.6)) scale(1) rotate(-365deg);
        filter: blur(0);
        opacity: 1;
    }
    100% {
        transform: translateY(-10px) translateX(calc(v.$anim-dist * -1)) scale(0) rotate(-450deg);
        filter: blur(10px);
        opacity: 0;
    }
}
*/
/** ==============================Heart Loading Screen=========================== */
.lds-ctn {
  position: fixed;
  z-index: 1000;
  background-color: #8B4E82;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#heart {
  font-size: 8rem;
  color: #A571A5;
  -webkit-animation: lds-heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
          animation: lds-heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
  z-index: 1100;
}

@-webkit-keyframes lds-heart {
  0% {
    transform: scale(0.95);
  }
  5% {
    transform: scale(1.1);
  }
  39% {
    transform: scale(0.85);
  }
  45% {
    transform: scale(1);
  }
  60% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(0.9);
  }
}

@keyframes lds-heart {
  0% {
    transform: scale(0.95);
  }
  5% {
    transform: scale(1.1);
  }
  39% {
    transform: scale(0.85);
  }
  45% {
    transform: scale(1);
  }
  60% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(0.9);
  }
}
#gender-popup {
  display: none;
  position: fixed;
  inset: 0%;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: #EBBFC4;
  z-index: 10;
}

#gender-ques-ctn {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.gender-answers {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#gender-hm {
  position: relative;
  padding: 0 16px;
  border-radius: 2rem;
  border-width: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
  font-weight: 800;
  overflow: hidden;
  cursor: pointer;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  white-space: normal;
  background-color: var(--color-4);
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, var(--color-5) 0 -10px 0 inset;
  color: var(--text-color-1);
  font-size: 2rem;
  width: 40%;
  height: 12rem;
}
#gender-hm:focus {
  box-shadow: var(--color-5) 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, var(--color-5) 0 -3px 0 inset;
}
#gender-hm:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, var(--color-5) 0 -10px 0 inset;
  transform: translateY(-2px);
}
#gender-hm:active {
  box-shadow: var(--color-5) 0 3px 7px inset;
  transform: translateY(2px);
}

#gender-hd {
  position: relative;
  padding: 0 16px;
  border-radius: 2rem;
  border-width: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
  font-weight: 800;
  overflow: hidden;
  cursor: pointer;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  white-space: normal;
  background-color: var(--color-7);
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, var(--color-8) 0 -10px 0 inset;
  color: var(--text-color-2);
  font-size: 2rem;
  width: 40%;
  height: 12rem;
}
#gender-hd:focus {
  box-shadow: var(--color-8) 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, var(--color-8) 0 -3px 0 inset;
}
#gender-hd:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, var(--color-8) 0 -10px 0 inset;
  transform: translateY(-2px);
}
#gender-hd:active {
  box-shadow: var(--color-8) 0 3px 7px inset;
  transform: translateY(2px);
}

@-webkit-keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
  }
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
  }
}
.area {
  background: var(--bg-color-0);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -2;
}

.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.circles i {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  color: rgba(255, 121, 121, 0.2);
  -webkit-animation: animate 25s linear infinite;
          animation: animate 25s linear infinite;
  bottom: -150px;
}
.circles i:nth-child(1) {
  left: 77%;
  font-size: 5.3rem;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-duration: 36s;
          animation-duration: 36s;
}
.circles i:nth-child(2) {
  left: 71%;
  font-size: 5.4rem;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
  -webkit-animation-duration: 32s;
          animation-duration: 32s;
}
.circles i:nth-child(3) {
  left: 38%;
  font-size: 5.5rem;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-duration: 42s;
          animation-duration: 42s;
}
.circles i:nth-child(4) {
  left: 17%;
  font-size: 5.5rem;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-duration: 43s;
          animation-duration: 43s;
}
.circles i:nth-child(5) {
  left: 53%;
  font-size: 5.3rem;
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
  -webkit-animation-duration: 30s;
          animation-duration: 30s;
}
.circles i:nth-child(6) {
  left: 73%;
  font-size: 3.3rem;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-duration: 27s;
          animation-duration: 27s;
}
.circles i:nth-child(7) {
  left: 46%;
  font-size: 5.6rem;
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
  -webkit-animation-duration: 21s;
          animation-duration: 21s;
}
.circles i:nth-child(8) {
  left: 63%;
  font-size: 3.1rem;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  -webkit-animation-duration: 43s;
          animation-duration: 43s;
}
.circles i:nth-child(9) {
  left: 17%;
  font-size: 4rem;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
  -webkit-animation-duration: 35s;
          animation-duration: 35s;
}
.circles i:nth-child(10) {
  left: 86%;
  font-size: 6.9rem;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  -webkit-animation-duration: 21s;
          animation-duration: 21s;
}

:root {
  font-size: 3vmin;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
}

body {
  text-align: center;
}

h1 {
  color: var(--text-color-0);
}

label {
  color: var(--text-color-1);
}

#thinh-ctn {
  margin-top: 100px;
}

#score-disp-ctn {
  display: flex;
  flex-grow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  font-family: "oswald", sans-serif;
}
#score-disp-ctn h1 {
  margin: 0;
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: -0.1rem;
}/*# sourceMappingURL=main.css.map */